<div role="text" class="info" aria-label="Product information">
  <% if (product.series) { %>
  <p aria-label="Product category" class="category"><%=product.series%></p>
  <% } %>
  <a class="product-link" href="/products/<%=product._id%>/<%= product.slug_title%>">
    <h1 aria-label="link to the product" class="title" id="<%=product._id%>">
      <%=product.name%>
    </h1>
  </a>
</div>