<% const newPrice = product.price - product.discount; const discountPercentage =
((product.discount / product.price) * 100).toFixed(); %>


<div role="text" class="price" aria-label="Product price">
  <!-- is on sale -->
  <% if (product.on_sale) { %>
  <span class="sr-only">
    This item is listed for $<%=newPrice %>
  </span>
  <div class="price-details">
    <span aria-hidden="true" class="updated">$<%= newPrice %></span>
    <span aria-hidden="true" class="standard">$<%= product.price %>
    </span>
  </div>
  <% } else { %>
  <span class="sr-only">
    This item is listed for $<%=product.price %>
  </span>
  <span aria-hidden="true" class="updated">$<%= product.price %></span>
  <% } %>
</div>