<li class="product" aria-label="<%=product.name%>">
  <article class="product-card" aria-label="<%=product.name%>">
    <%- include("./_image", {product}) %>
    <div class="text-container">
      <%- include("./_info", {product}) %>
      <% if (product.colors.length > 0) { %>
      <%- include("./_colors", {product}) %>
      <% } %>
      <div class="cta">
        <%- include("./_price", {product}) %>
        <%- include("./_buy", {product}) %>
      </div>
    </div>
  </article>
</li>