<h3>
  <%= product.series %>
</h3>
<h1>
  <%= product.name %>
</h1>
<p><%= product.description %></p>
<div>
  <span>
    <%= product.reviews %>
  </span>
  <span>
    <%= product.rating %>
  </span>
</div>
<div>
  $99.99
</div>